<!-- search bar -->
<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <div class="input-group">
          <div class="mb-4">
            <input list="title-sort" name="category" class="form-control" style="width:250px" placeholder="類別">
            <datalist id="title-sort">
              <option>家居物業</option>
              <option>交通出行</option>
              <option>休閒娛樂</option>
              <option>餐飲食品</option>
              <option>其他</option>
            </datalist>
          </div>
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- total amount -->
<div class="total-amount row d-flex align-items-center mb-3">
  <div class="col-3">
    <h5>總金額：</h5>
  </div>
  <div class="col-9" style="color:orangered">
    <h1>{{totalAmount}}</h1>
  </div>
</div>

<!-- expense list -->
<ul class="list-group">
  {{#each expense}}
  <li class="list-group-item">
    <div class="row d-flex align-items-center">
      <div class="col-1">
        <span style="font-size: 3em; color: skyblue;">
          <i class="{{this.icon}}"></i>
        </span>
      </div>
      <div class="col-6">
        <h5 class="mx-2 my-1">
          {{ this.name }}
        </h5>
        <p class="mx-2 my-1" style="font-size:14px">
          {{this.date}}
        </p>
      </div>
      <div class="col-2">
        <h6 style="display: inline-block">
          {{this.amount}}
        </h6>
      </div>
      <div class="col-3">
        <a class="btn btn-light" href="./expenses/{{ this._id }}/edit">修改</a>
        <form action="./expenses/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
          <button class="btn btn-light" type="submit">刪除</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}
</ul>
<a href="/expenses/new" class="btn btn-primary mt-3">新增支出</a>